<?xml version="1.0" encoding="utf-8"?>
<Content Key="8cc4403f-6b26-4423-827d-f7c9f414bba0" Alias="About Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/AboutPage</Path>
    <Trashed>false</Trashed>
    <ContentType>aboutPage</ContentType>
    <CreateDate>2025-08-24T19:50:20</CreateDate>
    <NodeName Default="About Page" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "898ceb8a-ba6b-4963-8d14-d28f44ff57c5",
    "mediaKey": "a6ca7cd1-a2b3-4fd1-9832-4af22756bf76",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage>
    <blockItems>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ce184c48-4bda-487d-804a-b3ed81272ec2",
      "key": "20f78198-0e2c-4d4a-8c0a-5bb59b326aa7",
      "udi": null,
      "values": [
        {
          "alias": "itemTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOur story\u003C/p\u003E"
          }
        },
        {
          "alias": "itemDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDriven by the desire to create a distinctive mark in the consulting landscape, we set out to establish the one and only specialized hub for DXP (Digital Experience Platform) consulting. This marked a pivotal moment in our evolution, as we honed our focus exclusively on DXP consulting, aligning our expertise with the cutting-edge advancements in the digital realm. Today, we take pride in our journey \u2013 from the initial endeavor to showcase Bulgaria\u0027s talent to the establishment of a hub synonymous with unparalleled expertise in DXP consulting.\u003C/p\u003E\u003Cp\u003EJoin us as we continue to shape the future of digital experiences and exemplify the exceptional capabilities that define our story.\u003C/p\u003E"
          }
        },
        {
          "alias": "itemImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "05440ff2-507e-4b4b-9973-c8ae03da0a6a",
              "mediaKey": "f1ef74e9-a0eb-4caf-99df-a3307e5fca1e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ce184c48-4bda-487d-804a-b3ed81272ec2",
      "key": "471479ee-6447-4cdd-aa76-0f9767649df5",
      "udi": null,
      "values": [
        {
          "alias": "itemTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOur values\u003C/p\u003E"
          }
        },
        {
          "alias": "itemDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EThe bedrock of our journey toward excellence. We embrace a culture of continual innovation, driving creative solutions for our clients in the dynamic digital landscape. Our team uphold the highest ethical standards, fostering trust and reliability in our interactions with both our team and clients. Our clients\u0027 success is our success, and we are dedicated to exceeding expectations by tailoring solutions to their unique needs. Last but not least, we thrive on continuous learning, adapting to industry trends and challenges to remain at the forefront of digital expertise.\u003C/p\u003E"
          }
        },
        {
          "alias": "itemImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "046bb0d2-c2f6-45a4-a70d-2e98fd87c973",
              "mediaKey": "4369f3e4-7e73-4841-9cdb-255ecf91f580",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ce184c48-4bda-487d-804a-b3ed81272ec2",
      "key": "148c0d00-7927-4e51-aa3c-b23f7c745dd8",
      "udi": null,
      "values": [
        {
          "alias": "itemTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOur mission\u003C/p\u003E"
          }
        },
        {
          "alias": "itemDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDriven by a vision to set new standards, we aspire to be the unparalleled hub for DXP consulting. By channeling our energies , we aim to cultivate a space where expertise converges, ideas flourish, and innovative solutions redefine the digital landscape. Our mission goes beyond consulting \u2013 it\u0027s about pioneering digital excellence. We strive to be at the forefront of technological advancements, enabling our clients to navigate the complexities of the digital sphere with confidence and innovation.\u003C/p\u003E"
          }
        },
        {
          "alias": "itemImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "61488013-a949-4b56-8a8c-84d5bec763ec",
              "mediaKey": "5bfb41a3-ee5c-4f79-9f13-f267a62134c2",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "20f78198-0e2c-4d4a-8c0a-5bb59b326aa7",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "471479ee-6447-4cdd-aa76-0f9767649df5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "148c0d00-7927-4e51-aa3c-b23f7c745dd8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "20f78198-0e2c-4d4a-8c0a-5bb59b326aa7",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "471479ee-6447-4cdd-aa76-0f9767649df5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "148c0d00-7927-4e51-aa3c-b23f7c745dd8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockItems>
    <blockSubtitle>
      <Value><![CDATA[]]></Value>
    </blockSubtitle>
    <blockTitle>
      <Value><![CDATA[]]></Value>
    </blockTitle>
    <heroButton>
      <Value><![CDATA[]]></Value>
    </heroButton>
    <memberBlockSubtitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EBrilliant minds and creative spirits - where talent meets passion, and expertise converges to redefine the landscape of DXP consulting.\u003C/p\u003E"
}]]></Value>
    </memberBlockSubtitle>
    <memberBlockTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETHE HEARTBEAT OF AHD SOLUTIONS\u003C/p\u003E"
}]]></Value>
    </memberBlockTitle>
    <memberCards>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "40c30b56-bd98-4d73-a534-627c835fcd27",
      "key": "b81587b0-76c8-44ec-9db0-a4fa487f0975",
      "udi": null,
      "values": [
        {
          "alias": "cardSignature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b9515bb5-d757-45fd-a64b-0d0624f00f8b",
              "mediaKey": "c8bbeeb1-9bff-48cd-8a25-a815ad51b29d",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESENIOR DXP ARCHITECT\u003C/p\u003E"
          }
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: left\u0022\u003ESeasoned Sitecore architect renowned for his expertise in crafting and enhancing web portals for prominent global enterprises. Diligently analyzed, rebuilt, and developed robust systems using an array of technologies, including Sitecore, C#, \u003Ca target=\u0022\u0022 data-router-slot=\u0022disabled\u0022 href=\u0022http://ASP.net\u0022 type=\u0022external\u0022\u003EASP.net\u003C/a\u003E, and SQL Server. Specializes in systems with high criticality, demonstrating a keen understanding of performance optimization. Alumnus of the Technical University in Sofia, where  earned his Ph.D. in Machine Learning and Artificial Intelligence. Sitecore architecture, making him a sought-after professional in the field.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "40c30b56-bd98-4d73-a534-627c835fcd27",
      "key": "5330e298-23ac-4180-bdb8-3fbe938a90e6",
      "udi": null,
      "values": [
        {
          "alias": "cardSignature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "cbcac852-e46c-4829-bcbf-5e78b4bb8526",
              "mediaKey": "4b249a0f-2469-4fa2-a3eb-8c913b4c6b34",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESENIOR DXP DEVELOPER\u003C/p\u003E"
          }
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003E\u0410 dedicated professional with a proactive approach, undertakes the maintenance and further development of existing applications, ensuring their continual improvement and relevance. Her role extends to collaborative efforts with customer teams worldwide, showcasing effective communication and adaptability in cross-cultural environments. She is not only responsible for integrating some of the best development and security practices but also adept at incorporating the latest technologies and 3rd party tools into her projects. \u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "40c30b56-bd98-4d73-a534-627c835fcd27",
      "key": "5c4b342d-20d8-4388-8413-ebaf35b6d1b0",
      "udi": null,
      "values": [
        {
          "alias": "cardSignature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d9225ac3-60de-4dcf-85a0-ede72bf9a231",
              "mediaKey": "53a2e3e5-222b-4d23-9fe2-449a48aa29dd",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECAREER COACH\u003C/p\u003E"
          }
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EProfessional committed to help companies and individuals achieve their greatest goals and desires, transforming ordinary days into outstanding ones! In a world where feeling stagnant, overwhelmed, or directionless is common, she specializes in providing the support needed to navigate life\u0027s challenges and elevate oneself. Through her expertise in coaching and business consulting, she addresses challenges with concise and effective strategies, offering tailored plans of action. Her approach is so seamless that, when the job is done well, clients may not even realize the extent of the challenge they overcame. \u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "40c30b56-bd98-4d73-a534-627c835fcd27",
      "key": "ee912e29-db93-4ad0-8ed4-216a35fffae1",
      "udi": null,
      "values": [
        {
          "alias": "cardSignature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "02ab9369-5e6d-4ddf-94b9-6e5ab31d46f5",
              "mediaKey": "04eadd1e-5a30-4908-8366-66118bf31d9f",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EFull-Stack Developer | Sitecore | Optimizely | Umbraco\u003C/p\u003E"
          }
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EA distinguished DXP (Digital Experience Platform) developer with expertise across leading technologies, including Sitecore, Optimizely, and Umbraco. Recognised for delivering complex, business-critical systems, with a focus on performance, scalability, and seamless digital experiences. Combines deep platform knowledge with full-stack development skills to design optimal solutions and unlock the full potential of digital ecosystems.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "40c30b56-bd98-4d73-a534-627c835fcd27",
      "key": "b0fd2cc2-1b69-4972-988a-ec858516debf",
      "udi": null,
      "values": [
        {
          "alias": "cardTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EFull-Stack Developer | Sitecore | Optimizely | Umbraco\u003C/p\u003E"
          }
        },
        {
          "alias": "cardSignature",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "c44d5570-47bb-4827-b2cf-fcf2b26fc922",
              "mediaKey": "90699c43-f21d-4fa2-819d-9d8b43cdd177",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "cardDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAn accomplished Digital Experience Platform specialist with strong proficiency in Sitecore, Optimizely, and Umbraco, experienced in building and optimising enterprise-level solutions. Known for managing complex, high-stakes projects and ensuring reliability, performance, and user-focused design. Brings a full-stack development background together with deep DXP expertise to craft tailored, scalable, and future-ready digital experiences.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b81587b0-76c8-44ec-9db0-a4fa487f0975",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5330e298-23ac-4180-bdb8-3fbe938a90e6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "5c4b342d-20d8-4388-8413-ebaf35b6d1b0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ee912e29-db93-4ad0-8ed4-216a35fffae1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "b0fd2cc2-1b69-4972-988a-ec858516debf",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b81587b0-76c8-44ec-9db0-a4fa487f0975",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5330e298-23ac-4180-bdb8-3fbe938a90e6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "5c4b342d-20d8-4388-8413-ebaf35b6d1b0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ee912e29-db93-4ad0-8ed4-216a35fffae1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "b0fd2cc2-1b69-4972-988a-ec858516debf",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </memberCards>
    <subtitle>
      <Value><![CDATA[]]></Value>
    </subtitle>
    <talesDate>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAug 17, 2024 5:13:59 PM\u003C/p\u003E"
}]]></Value>
    </talesDate>
    <talesDescription>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAHD Solutions recognized as Sitecore Silver Partner for 3rd Year\u003C/p\u003E"
}]]></Value>
    </talesDescription>
    <talesDiscover>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EDiscover how AHD Solutions has maintained prestigious Sitecore Silver Partner status for three...\u003C/p\u003E"
}]]></Value>
    </talesDiscover>
    <talesLink>
      <Value><![CDATA[[
  {
    "name": "Keep reading",
    "target": "_blank",
    "udi": null,
    "url": "https://ahd-solutions.com/blog/ahd-solutions-recognized-as-sitecore-silver-partner-for-3rd-year",
    "queryString": null
  }
]]]></Value>
    </talesLink>
    <talesName>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ESimona Stefanova\u003C/p\u003E"
}]]></Value>
    </talesName>
    <talesSubtitle>
      <Value><![CDATA[[
  {
    "name": "Sitecore Silver Partner",
    "target": "_blank",
    "udi": null,
    "url": "https://ahd-solutions.com/blog/tag/sitecore-silver-partner",
    "queryString": null
  }
]]]></Value>
    </talesSubtitle>
    <talesTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003ETECH TALES\u003C/p\u003E"
}]]></Value>
    </talesTitle>
    <title>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp style=\u0022text-align: center\u0022\u003EWe are the architects of ambition\u003C/p\u003E"
}]]></Value>
    </title>
  </Properties>
</Content>