<?xml version="1.0" encoding="utf-8"?>
<Content Key="cf313342-72e3-49ac-a23c-6a4d3d3917b9" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>homePage</ContentType>
    <CreateDate>2025-08-17T23:27:11</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <autorInfo>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EAtanas Desev, Founder, CEO, AHD Solutions Inc.\u003C/p\u003E"
}]]></Value>
    </autorInfo>
    <autorPhoto>
      <Value><![CDATA[[
  {
    "key": "2512f408-f657-4910-959d-a39f4d43dcf2",
    "mediaKey": "6271f194-b3a2-4cae-897f-09b89029114a",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </autorPhoto>
    <backgroundImage>
      <Value><![CDATA[[
  {
    "key": "58ff0627-1046-4803-a565-c6a782df7efd",
    "mediaKey": "a6ca7cd1-a2b3-4fd1-9832-4af22756bf76",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </backgroundImage>
    <blockItems>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ce184c48-4bda-487d-804a-b3ed81272ec2",
      "key": "9ad79cb6-90e4-4712-8ac7-3efcc7b70c83",
      "udi": null,
      "values": [
        {
          "alias": "itemTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAssessment and Strategy\u003C/p\u003E"
          }
        },
        {
          "alias": "itemDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EWe assess your current digital landscape, understanding existing systems, processes, and challenges. Based on the assessment, our team help you to define a comprehensive DXP strategy aligned with your business objectives. Our professionals assist in negotiating contracts and terms with DXP vendors to ensure favorable arrangements.\u003C/p\u003E"
          }
        },
        {
          "alias": "itemLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Learn more",
              "target": "_blank",
              "udi": null,
              "url": "mailto:atanas.desev@ahd-solutions.com",
              "queryString": null
            }
          ]
        },
        {
          "alias": "itemImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4a713dad-60bd-4850-a320-c9d7a45516e2",
              "mediaKey": "1d0e4b2d-a680-4dbd-ab9d-bead294a1edb",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ce184c48-4bda-487d-804a-b3ed81272ec2",
      "key": "ec706fe9-2dbb-48a0-a88c-5584893860ad",
      "udi": null,
      "values": [
        {
          "alias": "itemTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECustomization and Implementation\u003C/p\u003E"
          }
        },
        {
          "alias": "itemDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECustomization of the DXP in order to meet your specific business needs. Our team oversee the implementation process, ensuring a smooth transition and minimal disruption to your operations. We facilitate the integration of the DXP with your existing systems, ensuring a cohesive and integrated digital ecosystem.\u003C/p\u003E"
          }
        },
        {
          "alias": "itemImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "bab52652-19fb-448c-b913-73653b4b3a20",
              "mediaKey": "5a6de22e-b798-46a4-bef6-3faf8aa8174c",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "itemLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Learn more",
              "target": null,
              "udi": null,
              "url": "mailto:atanas.desev@ahd-solutions.com",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ce184c48-4bda-487d-804a-b3ed81272ec2",
      "key": "1fbd38b5-1c72-49b3-9969-9c4998a8ee77",
      "udi": null,
      "values": [
        {
          "alias": "itemTitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECustomer Experience Enhancement\u003C/p\u003E"
          }
        },
        {
          "alias": "itemDescription",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOur experts develop personalization strategies to enhance the overall customer experience and help you to map out and optimize user journeys for better engagement. We guide your business in adapting the DXP to emerging technologies and industry trends, ensuring long-term relevance.\u003C/p\u003E"
          }
        },
        {
          "alias": "itemImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "28e64c12-ae52-45b7-801c-9c0ccfcb0534",
              "mediaKey": "c77c199a-d018-4b2c-aecd-1f61aeb6e757",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "itemLink",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Learn more",
              "target": "_blank",
              "udi": null,
              "url": "mailto:atanas.desev@ahd-solutions.com",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "9ad79cb6-90e4-4712-8ac7-3efcc7b70c83",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ec706fe9-2dbb-48a0-a88c-5584893860ad",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1fbd38b5-1c72-49b3-9969-9c4998a8ee77",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "9ad79cb6-90e4-4712-8ac7-3efcc7b70c83",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ec706fe9-2dbb-48a0-a88c-5584893860ad",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1fbd38b5-1c72-49b3-9969-9c4998a8ee77",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </blockItems>
    <blockSubtitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp style=\u0022text-align: left\u0022\u003ESome of the key advantages include:\u003C/p\u003E"
}]]></Value>
    </blockSubtitle>
    <blockTitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp style=\u0022text-align: left\u0022\u003EEngaging DXP professionals brings expertise and experience to the table, ensuring that your business maximizes the benefits of a Digital Experience Platform and achieves its digital transformation goals effectively. \u003C/p\u003E"
}]]></Value>
    </blockTitle>
    <buttonLink>
      <Value><![CDATA[[
  {
    "name": "Schedule online consultancy",
    "target": "_blank",
    "udi": null,
    "url": "mailto:atanas.desev@ahd-solutions.com",
    "queryString": null
  }
]]]></Value>
    </buttonLink>
    <carousel2Items>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0a452eb3-8590-41ab-ae01-af7a6bcfe573",
      "key": "c82dbe63-22d1-468d-a9be-0117d7c02bf0",
      "udi": null,
      "values": [
        {
          "alias": "picture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a45d7e5f-8e47-4da9-8993-af43478a2c3c",
              "mediaKey": "07210ea9-d3dc-4eca-8f0f-fcc770dfa955",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0a452eb3-8590-41ab-ae01-af7a6bcfe573",
      "key": "ca8f8374-91fa-471c-8b82-b089052aac5d",
      "udi": null,
      "values": [
        {
          "alias": "picture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "4a8d96d7-50aa-4d63-8c44-962c5d36b732",
              "mediaKey": "8f6f1692-3bd0-4f24-94fc-aba57c8786d5",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0a452eb3-8590-41ab-ae01-af7a6bcfe573",
      "key": "9d17ba64-54fa-44a6-ad4e-146a9894a759",
      "udi": null,
      "values": [
        {
          "alias": "picture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "118708c9-d7dd-42eb-87b6-9f9f738c5f96",
              "mediaKey": "6f8c97d9-fa7b-4a8d-b75c-fbe4e6f538d4",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "0a452eb3-8590-41ab-ae01-af7a6bcfe573",
      "key": "bf0c8be5-78a6-4a66-bb21-8dccba7d55c1",
      "udi": null,
      "values": [
        {
          "alias": "picture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "330fa4e3-055c-477d-9da1-bd2f73ffcc08",
              "mediaKey": "d465e0a3-5a44-4d5b-85fe-fac5f304fe07",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "c82dbe63-22d1-468d-a9be-0117d7c02bf0",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ca8f8374-91fa-471c-8b82-b089052aac5d",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "9d17ba64-54fa-44a6-ad4e-146a9894a759",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "bf0c8be5-78a6-4a66-bb21-8dccba7d55c1",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "c82dbe63-22d1-468d-a9be-0117d7c02bf0",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "bf0c8be5-78a6-4a66-bb21-8dccba7d55c1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ca8f8374-91fa-471c-8b82-b089052aac5d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "9d17ba64-54fa-44a6-ad4e-146a9894a759",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </carousel2Items>
    <carouselItems>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "0a452eb3-8590-41ab-ae01-af7a6bcfe573",
      "key": "b8c354db-bce5-42c5-bb16-fa1a73c7db1f",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Sitecore Link",
              "target": "_blank",
              "udi": null,
              "url": "https://ahd-solutions.com/partners/sitecore?hsLang=en",
              "queryString": null
            }
          ]
        },
        {
          "alias": "picture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "2df8f745-736a-41bc-b9b3-1a87d076368d",
              "mediaKey": "5f0dcbd3-d036-4ba8-9316-967f903c6928",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESitecore Link\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0a452eb3-8590-41ab-ae01-af7a6bcfe573",
      "key": "071e1a50-bcdf-400d-9100-c8e15bf08eb2",
      "udi": null,
      "values": [
        {
          "alias": "link",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Optimizeli Link",
              "target": "_blank",
              "udi": null,
              "url": "https://ahd-solutions.com/partners/optimizely?hsLang=en",
              "queryString": null
            }
          ]
        },
        {
          "alias": "picture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "36bf2985-026c-4b73-8e9e-78444af41d34",
              "mediaKey": "68d61420-2eec-40df-8f71-191b6bdefc17",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EOptimizely Link\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0a452eb3-8590-41ab-ae01-af7a6bcfe573",
      "key": "8e63b642-55ca-4480-b89b-a6d2f4fd16c9",
      "udi": null,
      "values": [
        {
          "alias": "picture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "583d6645-3acf-41a3-9ac9-ab3c3fa3819c",
              "mediaKey": "8e5cdf13-b97f-49a5-b6cb-5d3ee5904991",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EKentico Link\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0a452eb3-8590-41ab-ae01-af7a6bcfe573",
      "key": "1988d7cd-b262-4dde-a77e-21fc75a9c38b",
      "udi": null,
      "values": [
        {
          "alias": "picture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "a7cbeb0e-ca14-4e6c-a3c3-d8a8c031772c",
              "mediaKey": "d0a2e12e-ad8d-415f-a5a1-a3537f451f94",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EKontentAI\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "0a452eb3-8590-41ab-ae01-af7a6bcfe573",
      "key": "e7fdac7c-4679-43e2-b865-bdb259a91ce6",
      "udi": null,
      "values": [
        {
          "alias": "picture",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "13026d6e-f7e7-4cc8-a3a5-78e096358244",
              "mediaKey": "be9d74a4-892f-458b-91c7-8a335a855106",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUmbraco Link\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b8c354db-bce5-42c5-bb16-fa1a73c7db1f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "071e1a50-bcdf-400d-9100-c8e15bf08eb2",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "8e63b642-55ca-4480-b89b-a6d2f4fd16c9",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "1988d7cd-b262-4dde-a77e-21fc75a9c38b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e7fdac7c-4679-43e2-b865-bdb259a91ce6",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b8c354db-bce5-42c5-bb16-fa1a73c7db1f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "071e1a50-bcdf-400d-9100-c8e15bf08eb2",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "8e63b642-55ca-4480-b89b-a6d2f4fd16c9",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "1988d7cd-b262-4dde-a77e-21fc75a9c38b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e7fdac7c-4679-43e2-b865-bdb259a91ce6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </carouselItems>
    <heroButton>
      <Value><![CDATA[[
  {
    "name": "Get started",
    "target": "_blank",
    "udi": null,
    "url": "mailto:atanas.desev@ahd-solutions.com",
    "queryString": null
  }
]]]></Value>
    </heroButton>
    <innovationItems>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "cd96f867-7b0c-48b0-a3e2-2e60e11e37d2",
      "key": "a98cd1d1-669d-4c0a-ba71-f671699b6b1b",
      "udi": null,
      "values": [
        {
          "alias": "imageIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b26f0d99-a73c-4b3f-ba8c-ead5c01197b7",
              "mediaKey": "bf431be6-752b-4eec-a3a9-3f16556a549e",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDesign \u0026amp; Implementation\u003C/p\u003E"
          }
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003Eof Sitecore, Sitefinity and Kentico projects.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "cd96f867-7b0c-48b0-a3e2-2e60e11e37d2",
      "key": "eb426fa2-3c64-43c2-a573-85bbcd944bb5",
      "udi": null,
      "values": [
        {
          "alias": "imageIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "8921069b-0443-4876-83b0-aa3b48145556",
              "mediaKey": "cc6d3ab5-f0c9-4f5c-9a2b-9483de4a1b18",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EManage data effectively\u003C/p\u003E"
          }
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003Ecombined with the latest innovations.\u003C/p\u003E"
          }
        }
      ]
    },
    {
      "contentTypeKey": "cd96f867-7b0c-48b0-a3e2-2e60e11e37d2",
      "key": "32677bd5-3acb-4b2f-9f6f-e83c63227a84",
      "udi": null,
      "values": [
        {
          "alias": "imageIcon",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "31562d62-6a64-4060-947d-351fabb4dc58",
              "mediaKey": "82bf5bd7-5bac-44a9-ab5d-b2e31ede90fc",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        },
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECost satisfaction\u003C/p\u003E"
          }
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003Etrough simply positioning vehicle to deliver results.\u003C/p\u003E"
          }
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "a98cd1d1-669d-4c0a-ba71-f671699b6b1b",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "eb426fa2-3c64-43c2-a573-85bbcd944bb5",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "32677bd5-3acb-4b2f-9f6f-e83c63227a84",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "a98cd1d1-669d-4c0a-ba71-f671699b6b1b",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "eb426fa2-3c64-43c2-a573-85bbcd944bb5",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "32677bd5-3acb-4b2f-9f6f-e83c63227a84",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </innovationItems>
    <quoteText>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003E\u0022When you start with a dream, the \u201Creader\u201D either gets transported to an other world or connects himself with the story quite easily. When I have started writing my story that starts with a dream. Nowadays a huge percent of customers already identify themselves with our story! Each new project is a challenge for us to outdo ourselves and deliver a product of great value to our customers.\u0022\u003C/p\u003E"
}]]></Value>
    </quoteText>
    <subtitle>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp style=\u0022text-align: center\u0022\u003EEmbark on a journey with us, where innovation meets passion. We\u0027re not just a company, we\u0027re architects of possibilities, dreamers of the extraordinary, and your partners in success. We are empowering brands to make unforgettable connections with their customers \u0026amp; allowing businesses to create, manage and publish content across all channels using simple and easy-to-use tools.\u003C/p\u003E\u003Cp style=\u0022text-align: center\u0022\u003EWelcome to AHD Solutions, where every story begins with limitless potential and every collaboration is a step towards excellence!\u003C/p\u003E"
}]]></Value>
    </subtitle>
    <subtitleInnovation>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EConcentrating our efforts to understand exactly who the customer is and what their actual needs, wants and desires are.\u003C/p\u003E"
}]]></Value>
    </subtitleInnovation>
    <title>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp style=\u0022text-align: center\u0022\u003EWORLD-CLASS DXP CONSULTANTS\u003C/p\u003E"
}]]></Value>
    </title>
    <titleCarousel>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp style=\u0022text-align: center\u0022\u003EAs an experts in Digital Experience Platforms, our boutique company excels in crafting tailor-made solutions. Proudly partnering with:\u003C/p\u003E"
}]]></Value>
    </titleCarousel>
    <titleCarousel2>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EOur commitment to excellence is reflected in our trusted partnerships and the satisfaction of our clients!\u003C/p\u003E"
}]]></Value>
    </titleCarousel2>
    <titleInnovation>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EINNOVATION \u0026amp; EXCELLENCE\u003C/p\u003E"
}]]></Value>
    </titleInnovation>
  </Properties>
</Content>