<?xml version="1.0" encoding="utf-8"?>
<Content Key="e21cb247-513e-4dc7-b81b-61b6adf89794" Alias="Service Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/ServicePage</Path>
    <Trashed>false</Trashed>
    <ContentType>servicePage</ContentType>
    <CreateDate>2025-09-19T17:45:54</CreateDate>
    <NodeName Default="Service Page" />
    <SortOrder>3</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <featureItems>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "3d5901e4-d9da-4f06-9d83-511aba2ca59e",
      "key": "3cf2cf89-5ef3-4352-8783-831b2bc2e540",
      "udi": null,
      "values": [
        {
          "alias": "titleFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECustomer Journey Mapping\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Together with Customer Data Architecture,   Personalized Content Strategy,  Analytics \u0026 Optimization."
        },
        {
          "alias": "iconFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "1257c191-1037-4e8d-84f7-5fc63f9d9ede",
              "mediaKey": "a203131e-9e8f-4481-88bc-b036f4728731",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3d5901e4-d9da-4f06-9d83-511aba2ca59e",
      "key": "674e7323-20a9-403f-ac5a-2598c84eb9f1",
      "udi": null,
      "values": [
        {
          "alias": "titleFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EConstant support\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Including Marketing, Content \u0026 SEO Enablement, DXP Support, Technical Application Support."
        },
        {
          "alias": "iconFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "b69d789d-72d6-4690-b030-b2afd7e630e7",
              "mediaKey": "a203131e-9e8f-4481-88bc-b036f4728731",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3d5901e4-d9da-4f06-9d83-511aba2ca59e",
      "key": "da272c78-0a94-4782-a15f-241001cf0c41",
      "udi": null,
      "values": [
        {
          "alias": "titleFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EEnterprise Solution Architecture\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Based on Platform Roadmapping, Composable \u0026 Traditional DXPs \u0026 Website Search Experience Implementation."
        },
        {
          "alias": "iconFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "79603816-6b82-4567-b61a-9c8c0163200a",
              "mediaKey": "a203131e-9e8f-4481-88bc-b036f4728731",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3d5901e4-d9da-4f06-9d83-511aba2ca59e",
      "key": "fe03650a-8cd5-4716-b721-3fbf49718db1",
      "udi": null,
      "values": [
        {
          "alias": "titleFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETraining areas\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Including Architecture \u0026 Development; Sitecore, Kentico, Contentful, Umbraco; In-Context, Project-Based  Coaching"
        },
        {
          "alias": "iconFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "01f6621c-c180-4040-a116-ac6e79586055",
              "mediaKey": "a203131e-9e8f-4481-88bc-b036f4728731",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3d5901e4-d9da-4f06-9d83-511aba2ca59e",
      "key": "796e4bb7-ce69-4da4-8dc1-4288e05628c6",
      "udi": null,
      "values": [
        {
          "alias": "titleFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EAgile Implementation Teams\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Handling Web \u0026 Mobile Development, Microservice \u0026  API Development, Sitecore Content Hub Data Migration Service."
        },
        {
          "alias": "iconFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "d14c3166-149c-4c78-b80c-299b1223145d",
              "mediaKey": "a203131e-9e8f-4481-88bc-b036f4728731",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "3d5901e4-d9da-4f06-9d83-511aba2ca59e",
      "key": "e07bf934-44f0-4565-9f57-fe9c5097972d",
      "udi": null,
      "values": [
        {
          "alias": "titleFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EBusiness Optimization Workshops\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Forget theory, let\u2019s dig in together and implement experiences that benefit your visitors and your organization. "
        },
        {
          "alias": "iconFeatureItem",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "7c2eda87-a68f-4ec1-baa7-02de1b0fee1d",
              "mediaKey": "a203131e-9e8f-4481-88bc-b036f4728731",
              "mediaTypeAlias": "",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "3cf2cf89-5ef3-4352-8783-831b2bc2e540",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "674e7323-20a9-403f-ac5a-2598c84eb9f1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "da272c78-0a94-4782-a15f-241001cf0c41",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "fe03650a-8cd5-4716-b721-3fbf49718db1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "796e4bb7-ce69-4da4-8dc1-4288e05628c6",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "e07bf934-44f0-4565-9f57-fe9c5097972d",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "3cf2cf89-5ef3-4352-8783-831b2bc2e540",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "674e7323-20a9-403f-ac5a-2598c84eb9f1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "da272c78-0a94-4782-a15f-241001cf0c41",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "fe03650a-8cd5-4716-b721-3fbf49718db1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "796e4bb7-ce69-4da4-8dc1-4288e05628c6",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "e07bf934-44f0-4565-9f57-fe9c5097972d",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </featureItems>
    <heroComponents>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "f8b74311-5fa8-426a-845d-5da7e2535c7c",
      "key": "b7157b02-dade-4bd8-b410-b116e4c44732",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EService Excellence\u003C/p\u003E"
          }
        },
        {
          "alias": "subtitle",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: center\u0022\u003EAt AHD Solutions, we specialize in empowering businesses through cutting-edge digital experience platforms consulting. Our team of dedicated experts leverages a wealth of experience to guide you through the intricacies of solutions, ensuring that your digital presence aligns seamlessly with your business objectives. From tailored strategies to implementation and ongoing support, we are committed to delivering unparalleled excellence in the world of digital transformation. Explore our comprehensive suite of services below and discover how we can elevate your digital journey.\u003C/p\u003E"
          }
        },
        {
          "alias": "backgroundImage",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "key": "96094e7f-6ab9-49e3-a3e2-1eebf36ae51b",
              "mediaKey": "a6ca7cd1-a2b3-4fd1-9832-4af22756bf76",
              "mediaTypeAlias": "Image",
              "crops": [],
              "focalPoint": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "f8b74311-5fa8-426a-845d-5da7e2535c7c",
      "key": "ec338f08-a170-49ba-88fe-0f274809cf83",
      "udi": null,
      "values": [
        {
          "alias": "title",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp style=\u0022text-align: left\u0022\u003ELet us know how we can be of service \u0026amp; we will work tirelessly to exceed your expectations!\u003C/p\u003E"
          }
        },
        {
          "alias": "heroButton",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Let\u0027s talk",
              "target": "_blank",
              "udi": null,
              "url": "mailto:atanas.desev@ahd-solutions.com",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "b7157b02-dade-4bd8-b410-b116e4c44732",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "ec338f08-a170-49ba-88fe-0f274809cf83",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "b7157b02-dade-4bd8-b410-b116e4c44732",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "ec338f08-a170-49ba-88fe-0f274809cf83",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </heroComponents>
    <serviceCards>
      <Value><![CDATA[{
  "contentData": [
    {
      "contentTypeKey": "ec8ce26b-091a-4e7f-96b6-28b67fbad499",
      "key": "f6172975-d951-43ef-9adf-842096ab95cd",
      "udi": null,
      "values": [
        {
          "alias": "titleServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ECustomer Experience Strategy\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Are you grappling with a significant turnover of customers or finding it challenging to comprehend your customers and their requirements? We engage in close collaboration with our clients to craft effective customer experience (CX) strategies. Our experience transformation team helps businesses build an adaptable and long-lasting end-to-end customer experience program."
        },
        {
          "alias": "buttonServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Tell us about your project",
              "target": "_blank",
              "udi": null,
              "url": "mailto:atanas.desev@ahd-solutions.com",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ec8ce26b-091a-4e7f-96b6-28b67fbad499",
      "key": "f1546904-266e-4abd-b148-f23f0f3635c1",
      "udi": null,
      "values": [
        {
          "alias": "titleServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EArchitecture backing today\u0027s needs\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "In addition to the architectural aspect, our Solution and CX Architects will collaborate with your business stakeholders, project managers, strategists, UX \u0026 creative designers, as well as technical implementation/development teams. This collaborative effort ensures that your DX solution is constructed according to the planned design."
        },
        {
          "alias": "buttonServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Tell us about your project",
              "target": "_blank",
              "udi": null,
              "url": "mailto:atanas.desev@ahd-solutions.com",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ec8ce26b-091a-4e7f-96b6-28b67fbad499",
      "key": "a08f0499-0fcb-441f-a746-0722f9425107",
      "udi": null,
      "values": [
        {
          "alias": "titleServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EUX \u0026amp; Creative\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "AHD Solutions provides UX and UI Design Services with the goal of developing, overseeing, and implementing user-friendly and enjoyable experiences, visual designs, digital media creations, and other elements for our clients. Our UX Design process involves three stages: Discovery, Solutioning, and (Re)evaluating."
        },
        {
          "alias": "buttonServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Tell us about your project",
              "target": "_blank",
              "udi": null,
              "url": "mailto:atanas.desev@ahd-solutions.com",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ec8ce26b-091a-4e7f-96b6-28b67fbad499",
      "key": "a2ea477b-198b-4578-b3d1-16cd85cef89f",
      "udi": null,
      "values": [
        {
          "alias": "titleServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003EDevelopment\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "Successful Digital Customer Experience (DCX) solutions commence with a thorough grasp of the convergence of business objectives, customer journeys, and the technical functionalities offered by various Digital Experience Platform (DXP) options. AHD Solutions boasts a diverse team,  ready to offer your team the necessary expertise, extensive experience, and resource capabilities required to confidently deliver exceptional DCX Solutions."
        },
        {
          "alias": "buttonServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Tell us about your project.",
              "target": "_blank",
              "udi": null,
              "url": "mailto:atanas.desev@ahd-solutions.com",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ec8ce26b-091a-4e7f-96b6-28b67fbad499",
      "key": "6d96f036-47ee-4271-bd98-0195207e8582",
      "udi": null,
      "values": [
        {
          "alias": "titleServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ESupport\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "You don\u0027t need to navigate the post-production phase independently once the deployment is complete and the festivities have concluded. Our team is available to assist your team with continuous technical support. Teams facing challenges can utilize these hours to address issues, enhance capacity for ongoing initiatives, and receive proactive recommendations for incremental improvements to ensure optimal productivity."
        },
        {
          "alias": "buttonServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Tell us about your project",
              "target": "_blank",
              "udi": null,
              "url": "mailto:atanas.desev@ahd-solutions.com",
              "queryString": null
            }
          ]
        }
      ]
    },
    {
      "contentTypeKey": "ec8ce26b-091a-4e7f-96b6-28b67fbad499",
      "key": "984ff7e9-bd5b-4d33-82e5-93159fe710e8",
      "udi": null,
      "values": [
        {
          "alias": "titleServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": {
            "blocks": {
              "contentData": [],
              "settingsData": [],
              "expose": [],
              "Layout": {}
            },
            "markup": "\u003Cp\u003ETraining\u003C/p\u003E"
          }
        },
        {
          "alias": "descriptionServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": "AHD Solutions Coaching method initiates with a conversation about your current workload. Subsequently, we will evaluate your team\u0027s capabilities, pinpoint any knowledge gaps, and actively collaborate with them during crucial moments to guarantee your success. Your projects and clients are always handled with care and fairness. "
        },
        {
          "alias": "buttonServiceCard",
          "culture": null,
          "editorAlias": null,
          "segment": null,
          "value": [
            {
              "name": "Tell us about your project",
              "target": "_blank",
              "udi": null,
              "url": "mailto:atanas.desev@ahd-solutions.com",
              "queryString": null
            }
          ]
        }
      ]
    }
  ],
  "settingsData": [],
  "expose": [
    {
      "contentKey": "f6172975-d951-43ef-9adf-842096ab95cd",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "f1546904-266e-4abd-b148-f23f0f3635c1",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a08f0499-0fcb-441f-a746-0722f9425107",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "a2ea477b-198b-4578-b3d1-16cd85cef89f",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "6d96f036-47ee-4271-bd98-0195207e8582",
      "culture": null,
      "segment": null
    },
    {
      "contentKey": "984ff7e9-bd5b-4d33-82e5-93159fe710e8",
      "culture": null,
      "segment": null
    }
  ],
  "Layout": {
    "Umbraco.BlockList": [
      {
        "contentKey": "f6172975-d951-43ef-9adf-842096ab95cd",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "f1546904-266e-4abd-b148-f23f0f3635c1",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a08f0499-0fcb-441f-a746-0722f9425107",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "a2ea477b-198b-4578-b3d1-16cd85cef89f",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "6d96f036-47ee-4271-bd98-0195207e8582",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      },
      {
        "contentKey": "984ff7e9-bd5b-4d33-82e5-93159fe710e8",
        "contentUdi": null,
        "settingsKey": null,
        "settingsUdi": null
      }
    ]
  }
}]]></Value>
    </serviceCards>
    <subtitleFeatureList>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EYour blueprint for success\u003C/p\u003E"
}]]></Value>
    </subtitleFeatureList>
    <subtitleServiceBlock>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EWe are a full-service, end-to-end, digital experience solutions agency.\u003C/p\u003E"
}]]></Value>
    </subtitleServiceBlock>
    <titleFeatureList>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EPlus even more\u003C/p\u003E"
}]]></Value>
    </titleFeatureList>
    <titleServiceBlock>
      <Value><![CDATA[{
  "blocks": {
    "contentData": [],
    "settingsData": [],
    "expose": [],
    "Layout": {}
  },
  "markup": "\u003Cp\u003EOur expertice at your disposal\u003C/p\u003E"
}]]></Value>
    </titleServiceBlock>
  </Properties>
</Content>