<?xml version="1.0" encoding="utf-8"?>
<Content Key="ccdb0112-5f4c-45c5-98f9-58d969b3cd48" Alias="Settings Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/SettingsPage</Path>
    <Trashed>false</Trashed>
    <ContentType>settingsPage</ContentType>
    <CreateDate>2025-08-14T13:35:41</CreateDate>
    <NodeName Default="Settings Page" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <companyAddress>
      <Value><![CDATA[Tsar Ivan Asen II Str., Sofia, Bulgaria]]></Value>
    </companyAddress>
    <copyrightText>
      <Value><![CDATA[Copyright © 2023, AHD Solutions]]></Value>
    </copyrightText>
    <footerLogo>
      <Value><![CDATA[[
  {
    "key": "d54b2693-a441-4a20-9282-3cbb5f229dc8",
    "mediaKey": "333119bd-e71f-47a3-ba1a-c3e8d35d4f5d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </footerLogo>
    <footerSocialNavigation>
      <Value><![CDATA[[
  {
    "name": "Facebook Profile",
    "target": "_blank",
    "udi": null,
    "url": "https://www.facebook.com/profile.php?id=100063950208489",
    "queryString": null
  },
  {
    "name": "LinkedIn Profile",
    "target": "_blank",
    "udi": null,
    "url": "https://www.linkedin.com/company/ahd-solutions/?viewAsMember=true",
    "queryString": null
  },
  {
    "name": "Twitter Profile",
    "target": null,
    "udi": null,
    "url": "https://twitter.com/Ahd_ltd",
    "queryString": null
  },
  {
    "name": "Instagram Profile",
    "target": "_blank",
    "udi": null,
    "url": "https://www.instagram.com/ahd_solutions/?next=%2Fsitecore%2F",
    "queryString": null
  }
]]]></Value>
    </footerSocialNavigation>
    <headerLogo>
      <Value><![CDATA[[
  {
    "key": "f6bdd518-9e5b-47f3-a22d-3d89f8272757",
    "mediaKey": "333119bd-e71f-47a3-ba1a-c3e8d35d4f5d",
    "mediaTypeAlias": "Image",
    "crops": [],
    "focalPoint": null
  }
]]]></Value>
    </headerLogo>
    <headerNavigation>
      <Value><![CDATA[[
  {
    "name": "Who We Are",
    "target": "_blank",
    "udi": null,
    "url": "https://ahd-solutions.com/",
    "queryString": null
  },
  {
    "name": "Path to Success",
    "target": "_blank",
    "udi": null,
    "url": "https://ahd-solutions.com/about",
    "queryString": null
  },
  {
    "name": "Services",
    "target": "_blank",
    "udi": null,
    "url": "https://ahd-solutions.com/products",
    "queryString": null
  },
  {
    "name": "Contact us",
    "target": null,
    "udi": null,
    "url": "mailto:atanas.desev@ahd-solutions.com",
    "queryString": null
  }
]]]></Value>
    </headerNavigation>
  </Properties>
</Content>