<?xml version="1.0" encoding="utf-8"?>
<Media Key="c8bbeeb1-9bff-48cd-8a25-a815ad51b29d" Alias="atanas_signature.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/atanas_signaturepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-24T22:25:29</CreateDate>
    <NodeName Default="atanas_signature.png" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/hysp05uw/atanas_signature.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>