<?xml version="1.0" encoding="utf-8"?>
<Media Key="c77c199a-d018-4b2c-aecd-1f61aeb6e757" Alias="block_services_3.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/block_services_3webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-21T12:54:47</CreateDate>
    <NodeName Default="block_services_3.webp" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/cxjdu2lr/block_services_3.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>