<?xml version="1.0" encoding="utf-8"?>
<Media Key="1d0e4b2d-a680-4dbd-ab9d-bead294a1edb" Alias="block_services_1.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/block_services_1webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-21T12:52:54</CreateDate>
    <NodeName Default="block_services_1.webp" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ukafrk5j/block_services_1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>