<?xml version="1.0" encoding="utf-8"?>
<Media Key="5a6de22e-b798-46a4-bef6-3faf8aa8174c" Alias="block_services_2.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/block_services_2webp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-21T12:53:55</CreateDate>
    <NodeName Default="block_services_2.webp" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/ueucx1hr/block_services_2.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>