<?xml version="1.0" encoding="utf-8"?>
<Media Key="a203131e-9e8f-4481-88bc-b036f4728731" Alias="Checkmark_white.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Checkmark_whitepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-09-19T18:06:34</CreateDate>
    <NodeName Default="Checkmark_white.png" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/shmfkfhg/checkmark_white.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>