<?xml version="1.0" encoding="utf-8"?>
<Media Key="82bf5bd7-5bac-44a9-ab5d-b2e31ede90fc" Alias="cost_satisfaction_icon_transparent.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/cost_satisfaction_icon_transparentpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-21T10:42:55</CreateDate>
    <NodeName Default="cost_satisfaction_icon_transparent.png" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lcipsngf/cost_satisfaction_icon_transparent.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>