<?xml version="1.0" encoding="utf-8"?>
<Media Key="bf431be6-752b-4eec-a3a9-3f16556a549e" Alias="design_icon_transparent.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/design_icon_transparentpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-21T10:52:06</CreateDate>
    <NodeName Default="design_icon_transparent.png" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nhibkckc/design_icon_transparent.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>