<?xml version="1.0" encoding="utf-8"?>
<Media Key="d0a2e12e-ad8d-415f-a5a1-a3537f451f94" Alias="kai-logo.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/kaiLogowebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-19T23:20:15</CreateDate>
    <NodeName Default="kai-logo.webp" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/uevpizxe/kai-logo.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>