<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e5cdf13-b97f-49a5-b6cb-5d3ee5904991" Alias="Kentico_logo.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Kentico_logowebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-19T23:19:14</CreateDate>
    <NodeName Default="Kentico_logo.webp" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/tqkbuoaw/kentico_logo.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>