<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f6f1692-3bd0-4f24-94fc-aba57c8786d5" Alias="konabos.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/konabospng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-24T18:21:15</CreateDate>
    <NodeName Default="konabos.png" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dxocsonz/konabos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>