<?xml version="1.0" encoding="utf-8"?>
<Media Key="333119bd-e71f-47a3-ba1a-c3e8d35d4f5d" Alias="Logo-removebg.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/LogoRemovebgpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-14T13:30:36</CreateDate>
    <NodeName Default="Logo-removebg.png" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/gljhpblw/logo-removebg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>