<?xml version="1.0" encoding="utf-8"?>
<Media Key="6271f194-b3a2-4cae-897f-09b89029114a" Alias="manager_photo.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/manager_photowebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-21T16:13:50</CreateDate>
    <NodeName Default="manager_photo.webp" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/dm3dpvgl/manager_photo.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>