<?xml version="1.0" encoding="utf-8"?>
<Media Key="d465e0a3-5a44-4d5b-85fe-fac5f304fe07" Alias="NTT_Logo.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/NTT_Logopng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-24T18:25:36</CreateDate>
    <NodeName Default="NTT_Logo.png" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/fqvcgyrn/ntt_logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>