<?xml version="1.0" encoding="utf-8"?>
<Media Key="f1ef74e9-a0eb-4caf-99df-a3307e5fca1e" Alias="our_story_img.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/our_story_imgwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-24T19:54:41</CreateDate>
    <NodeName Default="our_story_img.webp" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/m05ksr2c/our_story_img.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>