<?xml version="1.0" encoding="utf-8"?>
<Media Key="4369f3e4-7e73-4841-9cdb-255ecf91f580" Alias="our_value_img.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/our_value_imgwebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-24T19:55:46</CreateDate>
    <NodeName Default="our_value_img.webp" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/nm2d53i0/our_value_img.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>