<?xml version="1.0" encoding="utf-8"?>
<Media Key="07210ea9-d3dc-4eca-8f0f-fcc770dfa955" Alias="prime_holding.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/prime_holdingpng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-24T18:20:48</CreateDate>
    <NodeName Default="prime_holding.png" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/e1cgpmnv/prime_holding.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>