<?xml version="1.0" encoding="utf-8"?>
<Media Key="90699c43-f21d-4fa2-819d-9d8b43cdd177" Alias="refik_signature.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/refik_signaturepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-25T11:12:28</CreateDate>
    <NodeName Default="refik_signature.png" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/zrlc4jtu/refik_signature.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>