<?xml version="1.0" encoding="utf-8"?>
<Media Key="53a2e3e5-222b-4d23-9fe2-449a48aa29dd" Alias="Simona_signature.png" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Simona_signaturepng</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-24T22:27:07</CreateDate>
    <NodeName Default="Simona_signature.png" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/niupjzkc/simona_signature.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>