<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f0dcbd3-d036-4ba8-9316-967f903c6928" Alias="Sitecore_Logo.webp" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Sitecore_Logowebp</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-19T23:15:16</CreateDate>
    <NodeName Default="Sitecore_Logo.webp" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": null,
  "crops": null,
  "src": "/media/lqafx0k5/sitecore_logo.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>