<?xml version="1.0" encoding="utf-8"?>
<Media Key="be9d74a4-892f-458b-91c7-8a335a855106" Alias="umbraco-logo" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/umbracoLogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-08-25T00:51:41</CreateDate>
    <NodeName Default="umbraco-logo" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "focalPoint": {
    "left": 0.5,
    "top": 0.5
  },
  "crops": [],
  "src": "/media/fo5nwccg/umbraco_logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>