<?xml version="1.0" encoding="utf-8"?>
<DataType Key="63e7ce3d-cf34-4f8a-96dd-67f126184f49" Alias="Blog Page - Blogs List - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Blog Page - Blogs List - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "51bb57f8-f753-43e6-a084-12bce9ea68ca",
      "label": "Blog"
    }
  ],
  "useSingleBlockMode": true
}]]></Config>
</DataType>