<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5eba4468-ee60-4eff-b8c2-1b451a610083" Alias="Feature List Section - Feature Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Feature List Section - Feature Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "3d5901e4-d9da-4f06-9d83-511aba2ca59e",
      "label": "Item"
    }
  ],
  "useSingleBlockMode": true
}]]></Config>
</DataType>