<?xml version="1.0" encoding="utf-8"?>
<DataType Key="bf6c5502-e92e-4dbf-862d-3e3b139463a0" Alias="Innovation Component - Innovation Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Innovation Component - Innovation Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "cd96f867-7b0c-48b0-a3e2-2e60e11e37d2",
      "label": "Innovation Item"
    }
  ],
  "useSingleBlockMode": true
}]]></Config>
</DataType>