<?xml version="1.0" encoding="utf-8"?>
<DataType Key="5dee0732-f1ce-421f-afb1-1129be45a929" Alias="Member Block - Member Cards - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Member Block - Member Cards - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "40c30b56-bd98-4d73-a534-627c835fcd27",
      "label": "Card"
    }
  ]
}]]></Config>
</DataType>