<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aaa45e1e-b2f2-427e-b6ac-80b87f23fb2a" Alias="Service Page - Hero Components - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Page - Hero Components - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "f8b74311-5fa8-426a-845d-5da7e2535c7c",
      "label": "Item"
    }
  ],
  "useSingleBlockMode": true
}]]></Config>
</DataType>