<?xml version="1.0" encoding="utf-8"?>
<DataType Key="6a4f984c-69e3-4e0b-b8c8-b646fd7477af" Alias="Service Highlight Component - Block Items - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Highlight Component - Block Items - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ce184c48-4bda-487d-804a-b3ed81272ec2",
      "label": "Block Item"
    }
  ],
  "useSingleBlockMode": true
}]]></Config>
</DataType>