<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d1e57af9-6455-4219-a045-d97f976bbeeb" Alias="Service Block - Service Cards - Block List Property Editor UI" Level="1">
  <Info>
    <Name>Service Block - Service Cards - Block List Property Editor UI</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "ec8ce26b-091a-4e7f-96b6-28b67fbad499",
      "label": "Item"
    }
  ],
  "useInlineEditingAsDefault": false,
  "useSingleBlockMode": true
}]]></Config>
</DataType>