<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8f805cf5-b17e-4de3-be52-9471fe71ea2b" Alias="aboutPage" Level="1">
  <Info>
    <Name>About Page</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The page with the most important information for the company.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="f8b74311-5fa8-426a-845d-5da7e2535c7c">heroComponent</Composition>
      <Composition Key="d68a3365-8633-47c9-88bc-9dea59d5da99">memberBlock</Composition>
      <Composition Key="4432db76-435e-4c7a-ba7a-5c4ea00edb64">serviceHighlightComponent</Composition>
      <Composition Key="4c9c5abc-d963-489e-a1ae-22d210194b4b">techTalesComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>