<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="4163296e-bb0e-4626-b6ff-0715dfe962d4" Alias="carousel2" Level="2">
  <Info>
    <Name>Carousel 2</Name>
    <Icon>icon-layout-masonry</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The second carousel with our partners,</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9bad3ba0-7308-42e6-8fd5-27bb2ef124e5</Key>
      <Name>Carousel2 Items</Name>
      <Alias>carousel2Items</Alias>
      <Definition>601c330d-1ff7-4ad1-adf4-c67c107a7d00</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="carousel2ItemsContent">Carousel2 Items Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c72116b6-0c32-4a37-a0ac-aae41a7cbc68</Key>
      <Name>Title Carousel2</Name>
      <Alias>titleCarousel2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.RichText</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="carousel2ItemsContent">Carousel2 Items Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>658be4b0-e7ce-4866-a035-44567b7129ee</Key>
      <Caption>Carousel2 Items Content</Caption>
      <Alias>carousel2ItemsContent</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>