<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="683e6265-ea20-4d02-92db-549c5bf74446" Alias="homePage" Level="1">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The main page for the site.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="14d3257c-07c1-44d6-ad5e-379954d0badd">carousel</Composition>
      <Composition Key="4163296e-bb0e-4626-b6ff-0715dfe962d4">carousel2</Composition>
      <Composition Key="f8b74311-5fa8-426a-845d-5da7e2535c7c">heroComponent</Composition>
      <Composition Key="0d82c6e1-dd71-4cad-b410-507a948a9240">innovationComponent</Composition>
      <Composition Key="dd51005a-3217-4d16-81af-0282056965bf">quoteComponent</Composition>
      <Composition Key="4432db76-435e-4c7a-ba7a-5c4ea00edb64">serviceHighlightComponent</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>