<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a22b5b44-ed7d-401c-b632-8ca8eb6f8eea" Alias="servicePage" Level="1">
  <Info>
    <Name>Service Page</Name>
    <Icon>icon-server</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The page for the company’s services.</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions>
      <Composition Key="9cd6b3e8-b475-4291-b98e-da3793485d73">featureListSection</Composition>
      <Composition Key="dc62cd4b-35d6-4e48-9a26-7f9e5d595ba1">serviceBlock</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>06b14f1b-ac50-40d9-afcc-4e51e3e9b3e0</Key>
      <Name>Hero Components</Name>
      <Alias>heroComponents</Alias>
      <Definition>aaa45e1e-b2f2-427e-b6ac-80b87f23fb2a</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="heroContent">Hero Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f42b8549-17ea-4ccd-a1b9-e6065b2251ce</Key>
      <Caption>Hero Content</Caption>
      <Alias>heroContent</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>