<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ae4cadf0-ca9a-4763-9e53-74d1e7389876" Alias="settingsPage" Level="1">
  <Info>
    <Name>Settings Page</Name>
    <Icon>icon-settings</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>The most common and important data</Description>
    <AllowAtRoot>True</AllowAtRoot>
    <ListView>00000000-0000-0000-0000-000000000000</ListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>37b20365-562e-415c-903b-5d8b7e3eb9ce</Key>
      <Name>Company Address</Name>
      <Alias>companyAddress</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The company address in the footer]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b0996c8b-6077-46f8-84df-6725abc57649</Key>
      <Name>Copyright Text</Name>
      <Alias>copyrightText</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The copyright text for the footer]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6daaea46-7fa6-4543-b9e0-af53c4119690</Key>
      <Name>Footer Logo</Name>
      <Alias>footerLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The logo image in the header]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>9de89630-f8cf-4f34-8c7d-e6663f6b603a</Key>
      <Name>Footer Social Navigation</Name>
      <Alias>footerSocialNavigation</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The navigation in the footer for the social media.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="footer">Footer</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>585df5fe-d142-4e5a-bf3b-d2d24fd39fda</Key>
      <Name>Header Logo</Name>
      <Alias>headerLogo</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The logo image in the header]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d69f98b4-10b2-49f8-8216-ca68c35a3ae9</Key>
      <Name>Header Navigation</Name>
      <Alias>headerNavigation</Alias>
      <Definition>b4e3535a-1753-47e2-8568-602cf8cfee6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The navigation bar in the header]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="header">Header</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>436f328b-5e55-4d00-9f68-972bee452534</Key>
      <Caption>Footer</Caption>
      <Alias>footer</Alias>
      <Type>Group</Type>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Key>d3169edd-116e-4e9d-9e42-987e53832203</Key>
      <Caption>Header</Caption>
      <Alias>header</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>